body {
  background-color: yellow;
}

img {
  height: 150px;;
  width: 60%;
  border-radius: 10%;
  border: 1px solid red;
  box-shadow: -5px 5px 5px;
}

.department {
  margin-top: 20px;
}

#doStuff {
  margin-bottom: 30px;
}

button {
  width: 50%;
}

.grey-out {
  opacity: 0.4;
}

.department-title {
  color:black;
  position: absolute;
  top: 50px;
  left: 100px;
  font-size: 25px;
}

.item-image {
  height: 100px;
  width: 100px;
}

.item .panel {
  height: 275px;
}